<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Aggiungo la classe nativa di Ionic per forzare il tema chiaro in questo contenuto, 
      in questo modo evito bug grafici dovuti al tema scuro -->
<ion-content class="ion-padding ion-palette-light">
  
  <div class="light-theme-container" style="background: #ffffff; border-radius: 8px; padding: 8px;">
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  </div>

</ion-content>