<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- Pulsante Menu aggiunto a sinistra (start) -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MedicApp - Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="user?.ruolo === 'medico'">
    <h2>Benvenuto, {{user?.nome}}</h2>
    <ion-list>
      <ion-list-header><ion-label>Appuntamenti Odierni</ion-label></ion-list-header>
      <ion-item *ngFor="let app of listaAppuntamenti">
        <ion-label>
          <h3>{{app.pazienteNome}}</h3>
          <p>{{app.prestazione}} - ore {{app.ora}}</p>
        </ion-label>
        <ion-badge slot="end" [color]="app.stato === 'confermato' ? 'success' 
                               : app.stato === 'completato' ? 'primary' 
                                : app.stato === 'rifiutato' ? 'danger' 
                                 : 'warning'">
          {{app.stato}}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="user?.ruolo === 'paziente'">
    <h2>I tuoi Referti</h2>
    <ion-card *ngFor="let app of listaAppuntamenti">
      <ion-card-header>
        <ion-card-title>{{app.prestazione}}</ion-card-title>
        <ion-card-subtitle>{{app.data}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="app.refertoUrl" class="ion-margin-top">
          <!-- Button visualizzazione referto -->
          <ion-button fill="solid" color="secondary" (click)="visualizzaReferto(app.refertoUrl)">
            <ion-icon name="eye-outline" slot="start"></ion-icon>
            Visualizza
          </ion-button>
          
          <!-- Button scaricamento referto -->
          <ion-button fill="outline" color="primary" (click)="scaricaReferto(app.refertoUrl)">
            <ion-icon name="download-outline" slot="start"></ion-icon>
            Scarica
          </ion-button>
        </div>
        <p *ngIf="!app.refertoUrl">Referto in fase di elaborazione...</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        @if (user?.ruolo === 'paziente') {
          <ion-tab-button (click)="navigaA('/prenota-appuntamento')">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Prenota</ion-label>
          </ion-tab-button>
        } @else if (user?.ruolo === 'medico') {
          <ion-tab-button (click)="navigaA('/pazienti')">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Pazienti</ion-label>
          </ion-tab-button>
        }
        <ion-tab-button (click)="navigaA('/agenda')">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Agenda</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>