.login-container {
  max-width: 500px;
  margin: auto; 
  text-align: center;
  padding: 0 20px;

  .logo-placeholder {
    margin-bottom: 30px;
    h1 {
      font-weight: 700;
      color: var(--ion-color-primary);
    }
    p {
      color: var(--ion-color-medium);
    }
  }

  ion-list {
    background: transparent;
    border-radius: 8px;
  }
}