<ion-header [translucent]="true">
  <ion-item color="primary">
    <img src="assets/icon/logoPiccolo.png" alt="Logo MedicApp" style="max-height: 50px">
    <ion-title>Accedi o registrati</ion-title>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-placeholder">
      <img src="assets/icon/logoGrande.png" alt="Logo MedicApp" style="height: auto;">
      <h1 style="margin-top: 0px;">Benvenuto</h1>
      <p>Accedi o registrati per continuare</p>
    </div>

    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="nome@medico.it"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="********"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-margin-top">
      <ion-button expand="block" (click)="onLogin()">
        Accedi
      </ion-button>
      <ion-button expand="block" fill="clear" color="medium">
        Password dimenticata?
      </ion-button>
    </div>
  </div>
</ion-content>